.sauce {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/292099/pizza_sauce.png')
}

.cheese {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/292099/pizza_cheese.png')
}
.pepperoni {
 background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/292099/pizza_pepperoni.png') 
}
.olive {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/292099/pizza_olive.png')
}

.mushroom {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/292099/pizza_mushroom.png')
}